/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* css normalizer ================================
 * From: https://mattbrictson.com/blog/css-normalize-and-reset
 *
*/
@import url("./modern-normalize.css");

:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}
/* ======================================================= */

body {
    height: 100vh;
    display: flex;
}

.left-container {
    flex-basis: 35%;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
        url("./nick-wood-ghk4pUvpVy0-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 10rem;
    margin-bottom: 20rem;
}

.logo img {
    height: 100%;
}

.logo h1 {
    font-size: 5rem;
}

.credit {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.credit a {
    text-decoration: underline;
    color: white;
}
